/* custom Font for Tiles */
.font-title {
    font-family:    "New Rocker", serif;
    font-weight:    400;
    font-style:     normal;
}

.text-shadow-black {
    text-shadow: 2px 2px 4px #000000;
}

.text-shadow-white {
    text-shadow: 2px 2px 4px #ffffff;
}
